@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: #5B0C68;
    --secondary-color: #7F21DE;
    --terciary-color: #B57BFF;
    --dark-color: #0C0C0C;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #6c757d;
    --gray-dark-color: #343a40;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Plus Jakarta Sans";
    font-weight: semibold;
    color: var(--light-color);
}

/*
****************************************************
                NAVBAR
****************************************************
*/
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3rem;
    font-family: "Plus Jakarta Sans";
    justify-content: space-around;
}

.nav-container p{
    font-family: "Plus Jakarta Sans";
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-color);
    margin: 1rem;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.nav-link {
    color: var(--light-color);
    text-decoration: none;
    margin: 0 3.5rem;
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-weight: bold;
    transition: color 0.5s;
}

.nav-link:hover {
    color: var(--terciary-color);
}

/*
*******************************************************
                LANGUAJE BTN
*******************************************************
*/
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-dark-color);
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: var(--gray-color);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--gray-dark-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--gray-dark-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(1.5em);
  }

/*
*******************************************************
                DARK LIGHT THEME BTN
*******************************************************
*/

.themeToggle {
    color: #bbb;
    width: 3em;
}

.st-sunMoonThemeToggleBtn {
    position: relative;
    cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.17s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
    transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
    transform: translate(16px, -3px);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
    transform: scale(0.55);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
    animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*
****************************************************
                Prueba de estilos
****************************************************
*/

